
# environment

NODE_ENV=

# react port
PORT=


# container host exposed port
REACT_APP_BACKEND_URL=

# express local development
REACT_APP_BACKEND_URL_DEV=

# domain
REACT_APP_DOMAIN_TOP_LEVEL=


# third party api
REACT_APP_GOOGLEMAPS_API_KEY=