.wrapper {
    display: flex;
    align-items: flex-end;
}

.wrapper:hover {
    cursor: pointer;
}

.wrapper img:first-child {
    height: 51px;
}

.wrapper img:nth-child(2) {
    height: 36px;
    margin-left: 3px;
    margin-bottom: 3px;
}



@media screen and (max-width: 750px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .wrapper img:first-child {
        width: 36px;
        padding: 0 6px;
    }

    .wrapper img:nth-child(2) {
        display: none;
    }

}