# accordingly update /backend/src/utilities/environmental.js

NODE_ENV=


# express
EXPRESS_PORT=


# postgres
POSTGRES_HOST=
POSTGRES_HOST_DEV=
POSTGRES_PORT=
POSTGRES_PORT_DEV=


POSTGRES_USER=
POSTGRES_DATABASE=
POSTGRES_PASSWORD=


# keys
HMAC_KEY=
JWT_SECRET=

# third party api
GOOGLE_MAPS_API_KEY=
SENDGRID_API_KEY=



